In [1]:
#Python Warning off
import warnings
warnings.filterwarnings('ignore')

# #TF warning off
# import tensorflow as tf
# tf.compat.v2.logging.set_verbosity(tf.compat.v2.logging.ERROR)

In [2]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd

In [3]:
#Python Warning off
import warnings
warnings.filterwarnings('ignore')

# #TF warning off
# import tensorflow as tf
# tf.compat.v2.logging.set_verbosity(tf.compat.v2.logging.ERROR)

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd

In [4]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [5]:
from sklearn.preprocessing import MinMaxScaler  # 0.0 ~ 1.0 사이로 스케일링
from sklearn.preprocessing import LabelEncoder  # String ==> int
from sklearn.model_selection import train_test_split

In [6]:
df_raw = pd.read_csv("datasets/hotel_bookings.csv")
df_raw

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [7]:
# df_raw.info()

In [8]:
# df_raw = df_raw.apply(pd.to_numeric, errors='coerce')

In [9]:
# # 컬럼 바꿀땐 여기서 (1번)
# cols = ['hotel', 'lead_time','arrival_date_month','previous_cancellations','previous_bookings_not_canceled','booking_changes','adr']
# # object 형변환
# df['arrival_date_month'] = LabelEncoder().fit_transform(df['arrival_date_month']) # {July => 5 }
# df

In [10]:
# # 컬럼 바꿀땐 여기서 (2번)
# cols = ['hotel', 'lead_time','is_repeated_guest','booking_changes','required_car_parking_spaces','total_of_special_requests']

In [11]:
# 컬럼 바꿀땐 여기서 (3번) (1+2번)
cols = ['hotel', 'lead_time','is_repeated_guest','booking_changes','required_car_parking_spaces','total_of_special_requests','arrival_date_month','previous_cancellations','previous_bookings_not_canceled','booking_changes','adr']
df = df_raw[cols]
# object 형변환
df['arrival_date_month'] = LabelEncoder().fit_transform(df['arrival_date_month']) # {July => 5 }

In [12]:
# 4번
# df=df_raw

In [13]:
df_obj = df.select_dtypes(include=['object']) 
list(df_obj.columns)

['hotel']

In [14]:
#object 항목들 숫자로 변환하기 (방법 2)
obj_cols=[x for x in df_raw.columns if df_raw[x].dtype=="object"]

le=LabelEncoder()

for col in obj_cols:
    if col in df.columns:
        i = df.columns.get_loc(col)
        df.iloc[:,i] = df.apply(lambda i:le.fit_transform(i.astype(str)), axis=0, result_type='expand')

In [15]:
df.isnull().sum()

hotel                             0
lead_time                         0
is_repeated_guest                 0
booking_changes                   0
required_car_parking_spaces       0
total_of_special_requests         0
arrival_date_month                0
previous_cancellations            0
previous_bookings_not_canceled    0
booking_changes                   0
adr                               0
dtype: int64

In [19]:
# NaN 항 처리하기 
# df['children'].fillna(0, inplace=True)
# df['agent'].fillna(86, inplace=True)
# df.drop(['company'], axis=1, inplace=True)
# df.head()

In [20]:
y = df_raw['is_canceled']

In [21]:
df.head()

,hotel,lead_time,is_repeated_guest,booking_changes,required_car_parking_spaces,total_of_special_requests,arrival_date_month,previous_cancellations,previous_bookings_not_canceled,booking_changes,adr
0,1,342,0,3,0,0,7,0,0,3,0.0
1,1,737,0,4,0,0,7,0,0,4,0.0
2,1,7,0,0,0,0,7,0,0,0,75.0
3,1,13,0,0,0,0,7,0,0,0,75.0
4,1,14,0,0,0,1,7,0,0,0,98.0

In [24]:
X_train, X_test, y_train,y_test = train_test_split(df, y, random_state=42)

In [25]:
scaler = MinMaxScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)
X_train_scaled

array([[0.        , 0.28222524, 0.        , ..., 0.        , 0.        ,
        0.0255402 ],
       [0.        , 0.14925373, 0.        , ..., 0.        , 0.        ,
        0.01982473],
       [0.        , 0.44776119, 0.        , ..., 0.        , 0.        ,
        0.01264802],
       ...,
       [0.        , 0.10040706, 0.        , ..., 0.        , 0.        ,
        0.01831725],
       [1.        , 0.17639077, 0.        , ..., 0.        , 0.        ,
        0.02348707],
       [1.        , 0.02170963, 0.        , ..., 0.        , 0.        ,
        0.02337609]])

In [26]:
# 데이터 너무 커서 자르겠음 
cut = 4000
X_train_scaled= X_train_scaled[-cut:]
y_train = y_train[-cut:]
X_test_scaled= X_test_scaled[-cut//2:]
y_test= y_test[-cut//2:]

In [27]:
X_train_scaled.shape, y_train.shape, X_test_scaled.shape, y_test.shape

((4000, 11), (4000,), (2000, 11), (2000,))

In [28]:
forest = RandomForestClassifier(n_estimators=5, random_state = 24)
# 5개 만들어 주겠다! 
forest.fit(X_train_scaled,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=5,
                       n_jobs=None, oob_score=False, random_state=24, verbose=0,
                       warm_start=False)

In [29]:
forest.score(X_test_scaled,y_test)

0.7635